/* ====================================================== Common CSS Start ========================================================== */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
th{
    text-align: center;
    text-transform: capitalize;
 
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
  }
/* ====================================================== Common CSS End ====================================================== */

.main:first-child{
    margin-top: 2px;
}
.main{
    margin: 30px 0;
}